<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="../../output.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Title</title>
</head>
<body>
<div class="flex flex-row font-BeVietnam w-full h-screen">
  <col1 class="bg-Cam_Ananas text-white w-ful sm:w-1/4 md:w-1/5 flex flex-col pb-10">
    <div class="px-8 py-4">
      <ul class="flex flex-row items-center space-x-2">
        <li><img src="img/ananas_logo.png" alt="logo" class="h-16 w-auto"></li>
      </ul>
    </div>
    <div class="flex flex-col space-y-11 pt-10 pl-8">
      <a class="flex flex-row space-x-3" href="#">
        <img src="img/donhang_dashboard.png" alt="dashboard_icon" class="h-6 w-6">
        <p>Dashboard</p>
      </a>
      <a href="#" class="flex flex-row space-x-3">
        <img src="img/donhang_dh.png" alt="dashboard_icon" class="h-6 w-6">
        <p>Đơn hàng</p>
      </a>
      <a href="#" class="flex flex-row space-x-3 bg-green-600 rounded-md p-2">
        <img src="img/donhang_sp.png" alt="dashboard_icon" class="h-6 w-6">
        <p>Sản phẩm</p>
      </a>
      <a href="#" class="flex flex-row space-x-3 ">
        <img src="img/donhang_kh.png" alt="dashboard_icon" class="h-6 w-6">
        <p>Khách hàng</p>
      </a>
      <a href="#" class="flex flex-row space-x-3 ">
        <img src="img/donhang_km.png" alt="dashboard_icon" class="h-6 w-6">
        <p>Khuyến mãi</p>
      </a>
      <a href="#" class="flex flex-row space-x-3 ">
        <img src="img/donhang_blog.png" alt="dashboard_icon" class="h-6 w-6">
        <p>Blog</p>
      </a>
      <a href="#" class="flex flex-row space-x-3 pt-96">
        <img src="img/donhang_ls.png" alt="dashboard_icon" class="h-6 w-6">
        <p>Lịch sử</p>
      </a>
    </div>
    </ul>
  </col1><!--end col1-->

  <div class="w-4/5 bg-back_admin text-white">
    <div class="w-11/12 mx-auto mt-8">
      <p class="font-bold text-3xl">MÃ KHUYẾN MÃI</p>
      <p>Ngày dd, tháng mm năm yyyy</p>
    </div>

    <div class="w-11/12 flex flex-col mx-auto mt-8">
      <button class="flex ml-auto bg-Cam_Ananas px-5 py-2 rounded-lg mb-5">Thêm</button>
      <table class="w-full border-collapse border border-gray-300 text-black bg-white">
        <tr class="border-2">
          <th class="border border-gray-300 w-2/12">Mã khuyến mãi</th>
          <th class="border border-gray-300 w-1/12">Số lượng</th>
          <th class="border border-gray-300 w-1/12">Còn lại</th>
          <th class="border border-gray-300 w-1/12">Giá trị (%)</th>
          <th class="border border-gray-300 w-2/12">Ngày hết hạn</th>
          <th class="border border-gray-300 w-auto">Ghi chú</th>
          <th class="border border-gray-300 w-2/12"></th>
        </tr>

        <tr class="border-2">
          <td class="border border-gray-300">ABCD1234</td>
          <td class="border border-gray-300">500</td>
          <td class="border border-gray-300">213</td>
          <td class="border border-gray-300">10</td>
          <td class="border border-gray-300 mx-auto">dd.mm.yyyy</td>
          <td class="border border-gray-300">Mã giảm 10% dịp Giáng Sinh, kết thúc ngày 27.12.2024</td>
          <td class="flex justify-center space-x-5"><button>Chỉnh sửa</button><button>Xóa</button></td>
        </tr>
      </table>
    </div>
  </div>
</div>
</body>
</html>