<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../output.css" rel="stylesheet">
</head>
<body>
    <div class="root">
        <div class="content-wrapper font-BeVietnam max-w-screen-2xl text-base">
            <main class="flex flex-row">
                <col1 class="bg-Cam_Ananas text-white w-ful sm:w-1/4 md:w-1/5 flex flex-col pb-10">
                    <div class="px-8 py-4">
                        <ul class="flex flex-row items-center space-x-2">
                            <li><img src="img/ananas_logo.png" alt="logo" class="h-16 w-auto"></li>
                        </ul>
                    </div>
                    <div class="pt-10 pl-8">
                        <ul class="flex flex-col space-y-11">
                            <li class="flex flex-row space-x-3">
                                <img src="img/donhang_dashboard.png" alt="dashboard_icon" class="h-6 w-6">
                                <p>Dashboard</p>
                            </li>
                            <li class="flex flex-row space-x-3">
                                <img src="img/donhang_dh.png" alt="dashboard_icon" class="h-6 w-6">
                                <p>Đơn hàng</p>
                            </li>
                            <li class="flex flex-row space-x-3 bg-green-600 rounded-md p-2">
                                <img src="img/donhang_sp.png" alt="dashboard_icon" class="h-6 w-6">
                                <p>Sản phẩm</p>
                            </li>
                            <li class="flex flex-row space-x-3 ">
                                <img src="img/donhang_kh.png" alt="dashboard_icon" class="h-6 w-6">
                                <p>Khách hàng</p>
                            </li>
                            <li class="flex flex-row space-x-3 ">
                                <img src="img/donhang_km.png" alt="dashboard_icon" class="h-6 w-6">
                                <p>Khuyến mãi</p>
                            </li>
                            <li class="flex flex-row space-x-3 ">
                                <img src="img/donhang_blog.png" alt="dashboard_icon" class="h-6 w-6">
                                <p>Blog</p>
                            </li> 
                            <li class="flex flex-row space-x-3 pt-96">
                                <img src="img/donhang_ls.png" alt="dashboard_icon" class="h-6 w-6">
                                <p>Lịch sử</p>
                            </li> 
                        </ul>
                    </div>
                    </ul>
                </col1><!--end col1-->
                <col2 class="bg-back_admin text-white w-4/5 space-y-8 flex flex-col">
                    <row1 class="flex justify-end pr-4 pt-4 space-x-3">
                        <button><img src="img/donhang_notifi.png" alt="notification"></button>
                        <button><img src="img/donhang_ava.png" alt="avarta"></button>
                    </row1><!--end row1-->
                    <row2 class="flex items-center pl-4">
                        <div class="text-2xl">Sản phẩm</div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                            </svg>                              
                        </div>
                        <div class="text-gray-500">Danh sách sản phẩm</div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                            </svg>                              
                        </div>
                        <div class="text-gray-500">Thêm sản phẩm</div>
                    </row2>
                    <row3 class="flex flex-col px-4 space-y-4 text-black">
                        <div class="">
                            <label for="product-name" class="block text-sm font-medium text-gray-300 mb-1">
                                Tên sản phẩm
                            </label>
                            <input 
                                id="product-name" 
                                type="text" 
                                autocomplete="off"
                                class="w-full px-4 py-2 border border-gray-600 rounded-md focus:outline-none focus:ring focus:ring-blue-400"
                            >
                        </div>
                        <div class="">
                            <label for="product-name" class="block text-sm font-medium text-gray-300 mb-1">
                                Link ảnh
                            </label>
                            <input 
                                id="product-name" 
                                type="text" 
                                autocomplete="off"
                                class="w-full px-4 py-2 border border-gray-600 rounded-md focus:outline-none focus:ring focus:ring-blue-400"
                            >
                        </div>
                        <div class="">
                            <label for="product-description" class="block text-sm font-medium text-gray-300 mb-1">
                                Mô tả sản phẩm
                            </label>
                            <textarea 
                                id="product-description" 
                                rows="3" 
                                class="w-full px-4 py-2 border border-gray-600 rounded-md focus:outline-none focus:ring focus:ring-blue-400 resize-none"
                            ></textarea>
                        </div>
                        <div class="">
                            <label for="product-name" class="block text-sm font-medium text-gray-300 mb-1">
                                Giá sản phẩm
                            </label>
                            <input 
                                id="product-name" 
                                type="text" 
                                autocomplete="off"
                                class="w-full px-4 py-2 border border-gray-600 rounded-md focus:outline-none focus:ring focus:ring-blue-400"
                            >
                        </div>
                        <div class="flex justify-end space-x-2">
                            <button class="ML_button w-32">Lưu</button>
                            <button class="bg-white text-black border border-black w-32 text-center font-medium px-2 py-2 rounded focus:outline-none transition-all duration-300 ease-in-out">
                                Hủy
                            </button>
                        </div>
                    </row3>
                </col2><!--end col2-->
            </main>
        </div>
    </div>
</body>
</html>