<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="../../output.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Title</title>
</head>
<body>
<div class="flex flex-row font-BeVietnam w-full h-screen">
  <col1 class="bg-Cam_Ananas text-white w-ful sm:w-1/4 md:w-1/5 flex flex-col">
    <div class="py-4 mx-auto">
      <ul class="flex flex-row items-center">
        <li><img src="img/ananas_logo.png" alt="logo" class="h-16 w-auto"></li>
      </ul>
    </div>
    <div class="flex flex-col space-y-3">
      <a href="#" class="flex flex-row space-x-3 px-7 py-4 bg-green-600">
        <img src="img/donhang_dashboard.png" alt="dashboard_icon" class="h-6 w-6">
        <p>Dashboard</p>
      </a>
      <a href="#" class="flex flex-row space-x-3 py-4 px-7">
        <img src="img/donhang_dh.png" alt="dashboard_icon" class="h-6 w-6">
        <p>Đơn hàng</p>
      </a>
      <a href="#" class="flex flex-row space-x-3 py-4 px-7">
        <img src="img/donhang_sp.png" alt="dashboard_icon" class="h-6 w-6">
        <p>Sản phẩm</p>
      </a>
      <a href="#" class="flex flex-row space-x-3 py-4 px-7">
        <img src="img/donhang_kh.png" alt="dashboard_icon" class="h-6 w-6">
        <p>Khách hàng</p>
      </a>
      <a href="#" class="flex flex-row space-x-3 py-4 px-7">
        <img src="img/donhang_km.png" alt="dashboard_icon" class="h-6 w-6">
        <p>Khuyến mãi</p>
      </a>
      <a href="#" class="flex flex-row space-x-3 py-4 px-7">
        <img src="img/donhang_blog.png" alt="dashboard_icon" class="h-6 w-6">
        <p>Blog</p>
      </a>
    </div>

    <div class="flex-grow">
    </div>

    <div>
      <a href="#" class="flex flex-row space-x-3 py-4 px-7">
        <img src="img/donhang_ls.png" alt="dashboard_icon" class="h-6 w-6">
        <p>Lịch sử</p>
      </a>
    </div>
  </col1><!--end col1-->

  <div class="w-4/5 bg-back_admin text-white">
    <div class="w-11/12 mx-auto mt-8">
      <p class="font-bold text-3xl">DASHBOARD</p>
      <p>Ngày dd, tháng mm năm yyyy</p>
    </div>

    <div class="w-11/12 mx-auto mt-8">
      <p>Báo cáo ngày dd, tháng mm, năm yyyy</p>
      <div class="flex flex-row space-x-5 my-5">
        <div class="flex-col flex w-1/3 space-y-5">
          <div class="bg-white text-black py-5 px-5 rounded-lg">
            <p>Tổng lượt truy cập</p>
            <p class="text-3xl font-bold">1000</p>
          </div>

          <div class="bg-white text-black py-5 px-5 rounded-lg">
            <p>Doanh thu</p>
            <p class="text-3xl font-bold">1000</p>
          </div>
        </div>

        <div class="flex-col flex w-1/3 space-y-5">
          <div class="bg-white text-black py-5 px-5 rounded-lg">
            <p>Tổng số hàng bán ra</p>
            <p class="text-3xl font-bold">1000</p>
          </div>

          <div class="bg-white text-black py-5 px-5 rounded-lg">
            <p>Số bình luận</p>
            <p class="text-3xl font-bold">1000</p>
          </div>
        </div>

        <div class="flex bg-white text-black w-1/3 rounded-lg px-5">
          <div class="my-auto space-y-5">
            <p><span class="font-bold text-Cam_Ananas">1000</span> Đơn hàng thành công</p>
            <p><span class="font-bold text-Cam_Ananas">1000</span> Đơn hàng đang giao</p>
            <p><span class="font-bold text-Cam_Ananas">1000</span> Đơn hàng hoàn trả</p>
            <p><span class="font-bold text-Cam_Ananas">1000</span> Đơn hàng đã hủy</p>
          </div>
        </div>
      </div>
    </div>

    <div class="w-11/12 mx-auto mt-8">
      <p>Báo cáo tuần ww, năm yyyy</p>
      <div class="flex flex-row space-x-5 my-5">
        <div class="flex-col flex w-1/3 space-y-5">
          <div class="bg-white text-black py-5 px-5 rounded-lg">
            <p>Tổng lượt truy cập</p>
            <p class="text-3xl font-bold">1000</p>
          </div>

          <div class="bg-white text-black py-5 px-5 rounded-lg">
            <p>Doanh thu</p>
            <p class="text-3xl font-bold">1000</p>
          </div>
        </div>

        <div class="flex-col flex w-1/3 space-y-5">
          <div class="bg-white text-black py-5 px-5 rounded-lg">
            <p>Tổng số hàng bán ra</p>
            <p class="text-3xl font-bold">1000</p>
          </div>

          <div class="bg-white text-black py-5 px-5 rounded-lg">
            <p>Số bình luận</p>
            <p class="text-3xl font-bold">1000</p>
          </div>
        </div>

        <div class="flex bg-white text-black w-1/3 rounded-lg px-5">
          <div class="my-auto space-y-5">
            <p><span class="font-bold text-Cam_Ananas">1000</span> Đơn hàng thành công</p>
            <p><span class="font-bold text-Cam_Ananas">1000</span> Đơn hàng đang giao</p>
            <p><span class="font-bold text-Cam_Ananas">1000</span> Đơn hàng hoàn trả</p>
            <p><span class="font-bold text-Cam_Ananas">1000</span> Đơn hàng đã hủy</p>
          </div>
        </div>
      </div>
    </div>

    <div class="w-11/12 mx-auto mt-8">
      <p>Báo cáo tháng dd, năm yyyy</p>
      <div class="flex flex-row space-x-5 my-5">
        <div class="flex-col flex w-1/3 space-y-5">
          <div class="bg-white text-black py-5 px-5 rounded-lg">
            <p>Tổng lượt truy cập</p>
            <p class="text-3xl font-bold">1000</p>
          </div>

          <div class="bg-white text-black py-5 px-5 rounded-lg">
            <p>Doanh thu</p>
            <p class="text-3xl font-bold">1000</p>
          </div>
        </div>

        <div class="flex-col flex w-1/3 space-y-5">
          <div class="bg-white text-black py-5 px-5 rounded-lg">
            <p>Tổng số hàng bán ra</p>
            <p class="text-3xl font-bold">1000</p>
          </div>

          <div class="bg-white text-black py-5 px-5 rounded-lg">
            <p>Số bình luận</p>
            <p class="text-3xl font-bold">1000</p>
          </div>
        </div>

        <div class="flex bg-white text-black w-1/3 rounded-lg px-5">
          <div class="my-auto space-y-5">
            <p><span class="font-bold text-Cam_Ananas">1000</span> Đơn hàng thành công</p>
            <p><span class="font-bold text-Cam_Ananas">1000</span> Đơn hàng đang giao</p>
            <p><span class="font-bold text-Cam_Ananas">1000</span> Đơn hàng hoàn trả</p>
            <p><span class="font-bold text-Cam_Ananas">1000</span> Đơn hàng đã hủy</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>