<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.hugeicons.com/font/hgi-stroke-rounded.css" />

    <title>Title</title>
    <style>
        body {
            font-family: 'Be Vietnam Pro',sans-serif;
            font-weight: normal;
        }
    </style>
</head>
<body class="flex flex-col min-h-screen">
<nav class="bg-white/30 flex flex-row items-center text-sm
                        shadow-navBar w-full border-white backdrop-blur z-50">
    <div class="md:w-1/5 w-1/2">
        <img src="../../../public/assets/logo-black.png" alt="Logo" class="h-16 ml-7"/>
    </div>

    <div class="w-3/5 align-middle">
        <ul class="md:flex flex-row justify-center space-x-12 hidden">
            <li><a href="" class="hover:text-[#F15E2C] cursor-pointer transition-all">SẢN PHẨM</a></li>
            <li><a href="" class="hover:text-[#F15E2C] cursor-pointer transition-all">SALE-OFF</a></li>
            <li><a href="" class="hover:text-[#F15E2C] cursor-pointer transition-all">TIN TỨC</a></li>
            <li><a href="" class="hover:text-[#F15E2C] cursor-pointer transition-all">GIỚI THIỆU</a></li>
        </ul>
    </div>

    <div class="w-1/5 flex justify-end">
        <button type="button" class="text-[13px] mr-5 lg:block hidden">Đăng ký</button>
        <button type="button" class="text-[13px] bg-gradient-to-r from-[#F15E2C] from-0% to-[#F15E2C] to-100% text-white rounded-lg py-2 px-4 mr-5 hidden md:block
                hover:bg-gradient-to-r hover:from-[#fca144] hover:from-5% hover:to-[#FF6530] hover:to-30% hover:shadow-md hover:shadow-[rgba(241,94,44,0.5)] duration-300">Đăng nhập</button>
    </div>
</nav>

<div class="flex-grow">
    <div class="flex md:flex-row flex-col w-10/12 md:w-9/12 mx-auto mt-8">
        <div class="md:flex flex-col items-start mr-6 hidden lg:w-1/3 md:w-2/3">
            <div class="text-2xl font-bold">TÀI KHOẢN</div>

            <div class="mt-8 bg-[#F15E2C] text-white font-semibold py-2 px-4 rounded-lg"><a>Thông tin tài khoản</a></div>
            <a class="px-4 mt-8">Phương thức thanh toán</a>
            <a class="px-4 mt-8">Đơn hàng của tôi</a>
            <a class="px-4 mt-8">Đổi mật khẩu</a>

            <button type="button" class="mt-32 bg-[#FF4141] text-white font-semibold py-2 px-4 rounded-lg">Đăng xuất</button>
        </div>

        <!--Mobile Account navigation-->
        <div class="md:hidden flex mb-8" id="account">
            <svg xmlns="http://www.w3.org/2000/svg" class="my-auto mr-3" viewBox="0 0 24 24" width="24" height="24" color="#000000" fill="none" id="arrow">
                <path d="M9.00005 6C9.00005 6 15 10.4189 15 12C15 13.5812 9 18 9 18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <div>
                <p class="font-bold text-2xl mb-2">THÔNG TIN TÀI KHOẢN</p>
                <p>Phương thức thanh toán</p>
            </div>
        </div>

        <div id="account_nav" class="border-2 border-gray-300 rounded-xl hidden flex-col duration-300 md:invisible bg-white shadow-md py-5 space-y-2 text-center absolute w-10/12 top-44 z-20">
            <a class="py-3" href="#">Thông tin cá nhân</a>
            <a class="py-3" href="#">Đơn hàng của tôi</a>
            <a class="py-3" href="#">Phương thức thanh toán</a>
            <a class="py-3" href="#">Đổi mật khẩu</a>
            <button type="button" class="bg-[#FF4141] text-white w-11/12 mx-auto mt-3 py-3 rounded-md">Đăng xuất</button>
        </div>
        <!--End mobile account navigation-->

        <div class="w-full">
            <div class="flex flex-row w-full">
                <p class="flex font-bold w-9/12">Thẻ tín dụng & thẻ ghi nợ</p>
                <div class="flex justify-end ml-auto w-3/12"><button class="px-4 py-1 bg-[#F15E2C] text-white text-[13px] rounded-md">Thêm</button></div>
            </div>

            <div class="flex flex-col md:flex-row justify-center mt-5">
                <div class="flex flex-row md:w-9/12 w-full">
                    <div class="flex w-1/3 my-auto">
                        <img src="../../../public/assets/account/Visa.png" class="flex h-4 mr-3 object-cover my-auto">
                        <p>Visa</p>
                    </div>

                    <div class="w-1/3"> <!--Để trống để đặt tên trong TKNH-->

                    </div>

                    <div class="flex w-1/3 my-auto justify-end mr-2">
                        <p>**** 7091</p>
                        <p class="ml-2 px-2 py-1 bg-[#35A16F] hidden md:block text-white text-[13px] rounded-md">Mặc định</p>
                        <div class="flex my-auto w-2 h-2 bg-[#35A16F] rounded-full md:hidden ml-2"></div>
                    </div>
                </div>

                <div class="md:flex hidden md:w-3/12 w-full justify-end">
                    <button class="text-sm mr-3 text-[#FF4141] underline">Xóa</button>
                    <button class="text-sm underline">Làm mặc định</button>
                </div>

                <div class="flex justify-end ">
                    <button>Xóa</button>
                    <button>Mặc định</button>
                </div>
            </div>

            <div class="flex flex-row justify-center mt-5">
                <div class="flex w-3/12 my-auto">
                    <img src="../../../public/assets/account/MC.png" class="flex h-4 mr-3 object-cover my-auto">
                    <p>Mastercard</p>
                </div>

                <div class="w-3/12"> <!--Để trống để đặt tên trong TKNH-->

                </div>

                <div class="flex w-3/12 my-auto">
                    <p>**** 7091</p>
                </div>

                <div class="flex w-3/12 justify-end">
                    <button class="text-sm mr-3 text-[#FF4141] underline">Xóa</button>
                    <button class="text-sm underline">Làm mặc định</button>
                </div>
            </div>




            <!--TKNH-->
            <div class="flex flex-row w-full mt-16">
                <p class="flex font-bold w-9/12">Liên kết ngân hàng</p>
                <div class="flex justify-end ml-auto w-3/12"><button class="px-4 py-1 bg-[#F15E2C] text-white text-[13px] rounded-md">Thêm</button></div>
            </div>

            <div class="flex flex-row justify-center mt-5">
                <div class="flex w-3/12 my-auto">
                    <img src="../../../public/assets/account/Techcombank.png" class="flex h-4 mr-3 object-cover my-auto">
                    <p>Techcombank</p>
                </div>

                <div class="w-3/12"> <!--Để trống để đặt tên trong TKNH-->
                    MINH THUAN
                </div>

                <div class="flex w-3/12 my-auto">
                    <p>**** 7091</p>
                </div>

                <div class="flex w-3/12 justify-end">
                    <button class="text-sm mr-3 text-[#FF4141] underline">Xóa</button>
                    <button class="text-sm underline">Làm mặc định</button>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="flex flex-col justify-end w-full mt-8 md:mt-0">
    <div class="flex w-full bg-white h-[400px] mb-0 bottom-0">
        <div class="my-auto top-0 bottom-0 w-full">
            <div class="flex flex-row w-9/12 mx-auto align-middle">
                <img src="../../../public/assets/Logo_Ananas.png" class="h-7 flex my-auto top-0 bottom-0 mr-2" alt="logo">
                <img src="../../../public/assets/logo-black.png" class="flex h-10 w-24 object-cover my-auto top-0 bottom-0" alt="logo">
            </div>

            <div class="flex md:flex-row flex-col w-9/12 mx-auto mt-5">
                <div class="flex flex-row md:w-3/5 w-full">
                    <div class="w-1/3 space-y-3">
                        <p><strong>SẢN PHẨM</strong></p>
                        <p class="text-sm text-[#888888]">Giày nam</p>
                        <p class="text-sm text-[#888888]">Giày nữ</p>
                        <p class="text-sm text-[#888888]">Áo & Phụ kiện</p>
                        <p class="text-sm text-[#888888]">Sale-off</p>
                    </div>

                    <div class="w-1/3 space-y-3">
                        <p><strong>VỀ ANANAS</strong></p>
                        <p class="text-sm text-[#888888]">Tuyển dụng</p>
                        <p class="text-sm text-[#888888]">Giới thiệu</p>
                    </div>

                    <div class="w-1/3 space-y-3">
                        <p><strong>HỖ TRỢ</strong></p>
                        <p class="text-sm text-[#888888]">FAQs</p>
                        <p class="text-sm text-[#888888]">Bảo mật thông tin</p>
                        <p class="text-sm text-[#888888]">Chính sách chung</p>
                        <p class="text-sm text-[#888888]">Tra cứu đơn hàng</p>
                    </div>
                </div>


                <div class="md:w-2/5 w-full mt-8 md:mt-0">
                    <p><strong>LIÊN HỆ</strong></p>
                    <input type="text" placeholder="Email" class="border-2 w-full text-sm h-10 rounded-md mt-2 pl-3">
                    <div class="flex flex-row space-x-4 mt-3">
                        <img src="../../../public/assets/index/fb_icon.png" alt="Facebook Icon" class="h-5 w-5 opacity-55">
                        <img src="../../../public/assets/index/yt_icon.png" alt="Youtube Icon" class="h-5 w-5 opacity-55">
                        <img src="../../../public/assets/index/ig_icon.png" alt="Instagram Icon" class="h-5 w-5 opacity-55">
                    </div>

                    <div class="flex space-x-2 flex-row mt-7">
                        <p><strong>HỆ THỐNG CỬA HÀNG</strong></p>

                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none" class="flex my-auto top-0 bottom-0">
                            <path d="M0.467209 12.0185C0.172957 12.3101 0.172957 12.7827 0.467209 13.0742C0.761461 13.3658 1.23854 13.3658 1.53279 13.0742L0.467209 12.0185ZM12.7535 1.64824C12.7535 1.23596 12.4161 0.901737 12 0.901736L5.21868 0.901736C4.80254 0.901736 4.4652 1.23596 4.4652 1.64824C4.4652 2.06052 4.80254 2.39474 5.21868 2.39474H11.2465V8.36677C11.2465 8.77905 11.5839 9.11328 12 9.11328C12.4161 9.11328 12.7535 8.77905 12.7535 8.36677L12.7535 1.64824ZM1.53279 13.0742L12.5328 2.1761L11.4672 1.12038L0.467209 12.0185L1.53279 13.0742Z" fill="#F15E2C"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="h-10 md:mt-0 mt-8 w-full bg-[#F15E2C]"></div>
</footer>

<script>
    let accountNav = document.querySelector("#account_nav");
    let account = document.querySelector("#account");
    let arrow = document.querySelector("#arrow");
    let x = document.getElementById("arrow");

    account.addEventListener('click',accountNavToggle);

    function accountNavToggle() {
        if (accountNav.classList.contains('hidden')) {
            accountNav.classList.remove('hidden');
            accountNav.classList.add('flex');

            arrow.classList.add('rotate-90');
            arrow.classList.add('duration-300');
        } else {
            accountNav.classList.remove('flex');
            accountNav.classList.add('hidden');

            arrow.classList.remove('rotate-90');
            arrow.classList.add('duration-300');
        }
    }
</script>
</body>
</html>